.item{
    
  border-radius: 20px;
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: -1px 9px 3px -3px rgba(6,6,32,0.75);
-webkit-box-shadow: -1px 9px 3px -3px rgba(6,6,32,0.75);
-moz-box-shadow: -1px 9px 3px -3px rgba(6,6,32,0.75);
    
}

.item--completed{
    border: 1px solid white;
    color: gray;
}

.item-text-wrapper{
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 80px;
}

.item-text-wrapper--completed{
    background-color: var(--blue-color);
}

.item-text-wrapper__content--completed{
    text-decoration: line-through;
}

.item-text-wrapper__content{
    font-weight: bold;
    font-size: 18px;
}

.item-buttons-wrapper{
    background-color: var(--blue-soft);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-top: 3px solid gray;
    padding-right: 20px;
    
}

.item-buttons-wrapper--completed{
    background-color: var(--blue-color);
}

/* .Item_buttons_complete span{
    background-color: var(--blue-color);
} */

.item-buttons-wrapper__button{
    
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-soft);
    border-radius: 50%;
    border: 2px solid black;
    margin: 10px;
    
    cursor: pointer;
    transition-duration: 1s;
}

.item-buttons-wrapper__button--complete:hover{
    border: 2px solid green;
}

.item-buttons-wrapper__button-content{
    color: black;
}

.item-buttons-wrapper__button-content--completed{
    color: gray;
}

.item-buttons-wrapper__button--deleted{
    background-color: var(--blue-color);
}


.item-buttons-wrapper__button--completed{
    
    color: green;
} 

.item-buttons-wrapper__button--delete:hover{
    border:  2px solid red;
}