@import './components/LoginButton.css';
@import './components/TodoHeader.css';
@import './components/TodoDay.css';
@import './components/TodoItem.css';
@import './components/TodoList.css';
@import './components/CreateTodoButton.css';
@import './components/CommentsButton.css';
@import './components/TodoCounter.css';
@import './components/TodoGreeting.css';
@import './components/TodoSearch.css';
@import './components/buttons.css';
@import './components/Modal.css';
@import './components/TodoForm.css';
@import './components/TodosLoading.css';


:root {
    --blue-color: rgb(13, 13, 66);
    --blue-soft: rgb(30, 30, 65);
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--blue-color);
    font-family: 'Ubuntu', sans-serif;
}

.FirstMessage{
    color: white;
    text-align: center;
}