.Button_app {
    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
    border: 0.5px solid gray;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 15px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 54px;
    transform: rotate(0);
    transition: .3s ease;
}

.Button_app:hover{
    transform: rotate(224deg);
}