@import './LoginButton.css';
@import './TodoMenu.css';
@import './TodoDay.css';
@import './TodoItem.css';
@import './TodoList.css';
@import './CreateTodoButton.css';
@import './CommentsButton.css';

:root {
    --blue-color: rgb(9, 9, 46);
    --blue-soft: rgb(44, 44, 68);
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--blue-color);
    font-family: 'Ubuntu', sans-serif;
}