.TodoDay{
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin-bottom: 50px;
}

.TodoDay h3{
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
}